RAILS_MASTER_KEY=""
MONOLITH_RAILS_BOILERPLATE_HOST_NAME=""
MONOLITH_RAILS_BOILERPLATE_PORT=""
MONOLITH_RAILS_BOILERPLATE_DATABASE_NAME=""
MONOLITH_RAILS_BOILERPLATE_USERNAME=""
MONOLITH_RAILS_BOILERPLATE_DATABASE_PASSWORD=""
SENDGRID_API_KEY=""
SITE_URL=""
SITE_EMAIL=""